# Server Configuration
PORT=5000
NODE_ENV=development

# Backend Configuration
VITE_BACKEND_URL=http://localhost:5000

# Firebase Admin Configuration (Backend)
FIREBASE_PROJECT_ID=fir-auth-ytlive-gigabai
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"

# Firebase Client Configuration (Frontend)
VITE_FIREBASE_API_KEY=AIzaSyDeADzMLcVpvqAWWaY4YJwG7ld-FLqGhBE
VITE_FIREBASE_AUTH_DOMAIN=fir-auth-ytlive-gigabai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=fir-auth-ytlive-gigabai
VITE_FIREBASE_STORAGE_BUCKET=fir-auth-ytlive-gigabai.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=732952827883
VITE_FIREBASE_APP_ID=1:732952827883:web:da1f43bbaaf48787cdabae

# Upload Configuration
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=2147483648